body
{
    display: flex;
}
.left
{
    width:50%;
    display: flex;
    justify-content: center;
}
.form
{
    width: 80%;
}
.form form
{
    display: flex;
    flex-direction: column;
}
#name
{
   margin-bottom: 20px; 
}
#detail
{
    height: 200px;
    margin-bottom: 20px; 
}
#submit
{
    align-self: center;
    margin-top: 20px;
}
/* 時間 */
.right
{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time
{
    display: flex;
    flex-direction: column;
}
.block
{
    margin-top: 20px;
}
.hour
{
    margin-left: 20px;
}
#add
{
    margin-left: 20px;
}
.delete
{
    margin-left: 20px;
}