*
{
    text-decoration: none;
    color: black;
}
.applyboard
{   
    height: 100%;
}
.boardname 
{
    display: flex;
    justify-content: flex-end;
}
.content
{
    margin-right: auto
}
.add
{
    border: 1px solid black;
    margin-right: 20px;
}
.delete
{
    border: 1px solid red;
}
.boarddetail
{
    width: 100%;
    border: 1px solid black;
}