*
{
    text-decoration: none;
    color: black;
}
html,body
{
    height: 100%;
}
body
{
    margin: 0;
    display: flex;
}
.page
{
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.board
{
    display: flex;
    width: 15%;
    border: 1px solid black;
}
.boardcontent
{
    margin: 10px;
}
.article
{
    width: 80%;
    background: blue;
    display: flex;
    flex-direction: column;
}
.menu
{
    display: flex;
    height: 50px; 
    line-height: 50px;
}
.menu a
{
    width: 80px;
    text-align: center; 
    background: green;
}
.articlecontent
{
    margin: 10px;
    height: 100%;
}
iframe
{
    background: yellow;
}