.title
{
    font-size: 50px;
    text-align: center;
}
.form
{
    margin-top: 20px;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.smalltitle
{
    margin-bottom: 10px;
}
input,select
{
    margin-bottom: 20px;
}
#articlename
{
    width: 200px;
}
#articlecontent
{
    width: 500px;
    height: 200px;
}
#submit
{
    margin-top: 20px;
}