.title
{
    font-size: 50px;
}
.form
{
    margin-top: 50px;
    margin-bottom: 30px;
}
.form input
{
    margin-bottom: 30px;
}
.input
{
    width:250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    text-indent: 10px;
}
#submit
{
    width:80px;
    height:40px;
}
#register
{
    text-decoration: none;
    color: blue;
}