html,body
{
    height:100%;
}
body
{
    display: flex;
    margin: 0;
}
.page
{
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: center;
}
.member
{
    width: 800px;
}
td
{
    width:130px;
    height: 50px
}