*
{
    text-decoration: none;
    color: black;
}
html,body
{
    height:100%;
}
body
{
    display: flex;
    margin: 0;
}
.page
{
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: center;
}
/*選單*/
.menu
{
    width: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 20px;
}
.menu a
{
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    background: lightgray;
}
.menu a:hover
{
    background: lightcoral;
}